//****************************************************************************//
//Nom          : style.css
//Date         : 24.02.15
//Version      : 0.1
//Auteur       : SEEMULLER Julien
//Description  : La fiche de style principale de l'horloge qlocktwo.
//****************************************************************************//

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
#main-container{
    width: 700px;
    height: 700px;
    background: #151515;
    margin: auto;
}

#matrix{
    width: 600px;
    height: 550px;
    margin: auto;
    margin-top: 100px;
    background-color: #050505;
    color: #404040;
    font-size: 30px;
    font-family:'Josefin Sans', Arial, sans-serif;
    word-wrap: break-word;
    padding: 20px;
}

.letterBox{
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    padding-left: 4px;
    padding-top: 5px; 
}
.lightLetter{
    color: white;
    text-shadow: 0 0 9px white;
}