//****************************************************************************//
//Nom          : style.css
//Date         : 24.02.15
//Version      : 0.1
//Auteur       : SEEMULLER Julien
//Description  : La fiche de style principale de l'horloge qlocktwo.
//****************************************************************************//

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
#main-container{
    width: auto;
    height: auto;
    margin: auto;
}

#matrix{
    width: 600px;
    height: 550px;
    margin: auto;
    background-color: #050505;
    color: #404040;
    font-size: 30px;
    font-family:'Josefin Sans', Arial, sans-serif;
    word-wrap: break-word;
    padding: 10%;
}

#qlock{
    width: 700px;
    height: 650px;
    margin: auto;
    position: relative;
}

#dot-container{
    width: 700px;
    height: 650px;
    background-color: #050505;
    color: #404040;
    font-size: 30px;
    left: 50%;
    right: 50%;
}

.letterBox{
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    padding-left: 4px;
    padding-top: 5px; 
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.lightLetter{
    color: white;
    text-shadow: 0 0 9px white;
}

#point1, #point2, #point3, #point4{
    position: absolute;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#point1{
    top: 20px;
    left: 40px;
}

#point2{
    top: 20px;
    right: 0px;
}

#point3{
    bottom: -15px;
    right: 0px;
}

#point4{
    bottom: -15px;
    left: 40px;
}

.button-container{
    height: 20px;
    width: 200px;
    margin: auto;
    margin-top: 120px;
    background-color: #050505;
    text-align: center;
    padding: 1%;
}

.btnLanguage{
    background-color: #050505;
    color: #404040;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-family:'Josefin Sans', Arial, sans-serif;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.btnLanguage:hover{
    color: white;
    text-shadow: 0 0 9px white;
}

.btnLanguage:focus {
    outline-width: 0;
}